<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustcsse.parkinglot.mapper.ParkinglotMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ustcsse.parkinglot.model.po.Parkinglot">
        <id column="id" property="id" />
        <result column="count" property="count" />
        <result column="caramount" property="caramount" />
        <result column="left" property="left" />
        <result column="name" property="name" />
        <result column="administrator" property="administrator" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, count, caramount, left, name, administrator, phone, address
    </sql>

</mapper>
