<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ustcsse.parking.mapper.ParkingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ustcsse.parking.model.po.Parking">
        <id column="id" property="id" />
        <result column="parkinglotid" property="parkinglotid" />
        <result column="memberid" property="memberid" />
        <result column="carplate" property="carplate" />
        <result column="intime" property="intime" />
        <result column="outtime" property="outtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, parkinglotid, memberid, carplate, intime, outtime
    </sql>

</mapper>
